* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: rgb(244, 242, 242);

}

a:hover {
    text-decoration: none;
}

/* Home logo and Navbar section */

header {
    background: black;
    color: white;
}

/* logo */
#logo h3 {
    font-weight: bold;
    padding-top: 15px;
    color: yellow;
}

#logo h3:hover {
    color: orange;
    cursor: pointer;
}

#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: inline-block;
}

#navbar ul li a {
    color: gray;
    padding: 40px 30px 5px 30px;
    display: block;
    text-decoration: none;
}

#navbar ul li a:hover {
    background-color: yellow;
}

/* slider__________HOME__________________________________ */

.slider-text {
    background: url(banner-1.jpg) no-repeat;
    height: 70vh;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider-text h1, .slider-text-2 h1, .slider-text-3 h1, .slider-text-4 h1 {
    font-size: 72px;
    font-weight: bolder;
}

.slider-text h1 span, .slider-text-2 h1 span, .slider-text-3 h1 span, .slider-text-4 h1 span  {
    color: yellow;
}

.slider-text h3 , .slider-text-2 h3 , .slider-text-3 h3 , .slider-text-4 h3 {
    font-size: 36px;
    font-weight: bold;
}

.button {
    border: 1px solid rgba(255, 255, 0, 0.3);
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(255, 255, 0, 0.3);
    color: white;
}

.slider-text a:hover, .slider-text-2 a:hover, .slider-text-3 a:hover, .slider-text-4 a:hover {
    background-color: yellow;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

    /* slider---------------------about */

    .slider-text-2 {
        background: url(banner-2.jpg) no-repeat;
        height: 70vh;
        background-position: center;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* text-align: center; */
        align-items: center;
        position: relative;
    }

      /* slider---------------------our tour */
    .slider-text-3 {
        background: url(banner-3.jpg) no-repeat;
        height: 70vh;
        background-position: center;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* text-align: center; */
        align-items: center;
        position: relative;
    }
/* three box------------------------------ */
.three-box {
    position: absolute;
    top: 480px;
    margin: 0 5%;
}

.green-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    background-color: #2ec66b;
    color: white;

}

.green-box:hover {
    font-weight: bold;
    cursor: pointer;
}

.red-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    background-color: #e97262;
    color: white;
}

.red-box:hover {
    font-weight: bold;
    cursor: pointer;
}

.b-1-btn {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    background-color: #f9cb1e;

}

.b-1-btn a {
    display: inline-block;
    color: black;
}

.b-1-btn a:hover {
    text-decoration: none;
    color: white;
}

form {
    padding: 15px 25px;
    background-color: white;
}

form select,
form input {
    width: 100%;
    height: 10%;
    margin-bottom: 25px;
}

.yellow-box {
    display: flex;
    background-color: #f9cb1e;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.yellow-box button {

    padding: 5px 10px;
    border: 1px solid #f9cb1e;
    background-color: #e8bb05;
}

.yellow-box button:hover {
    cursor: pointer;
    background-color: #f6dd82;
}

#text-lorem {
    margin: 100px 0;
    color: black;
}

.loram {
    font-size: 44px;
    word-spacing: 10px;
    font-weight: bold;
    color: rgb(61, 42, 42);
}


/* Home four box--------------------------- */

.four-into-four {
    margin-top: 600px;
}

#home-4-box P {
    text-align: justify;
    padding: 10px 15px 20px 10px;

}

.section-2 {
    background-color: white;
    padding: 50px 0 100px 0;
}

#home-4-box span {
    text-align: justify;
    padding: 0 0 20px 10px;
    color: rgb(186, 187, 188);

}

#for-div-p p {
    text-align: center;
    padding: 50px 0;
}

.boder-TR {
    border-top: 1px solid rgb(157, 154, 154);
    border-right: 1px solid rgb(157, 154, 154);
}

.boder-t {
    border-top: 1px solid rgb(157, 154, 154);
}

#div-text {
    text-align: center;
    font-size: 36px;
}

.four-box-text {
    margin-top: 100px;
}

hr {
    border: 2px solid gray;
}

table {
    text-align: center;
}

table p {
    text-align: justify;
    padding: 10px 10px;

}

#div-mr {
    margin-top: 100px;
}

#div-mr2 {
    margin-top: 50px;
}

footer {
    padding: 10px 0;
    text-align: center;
    background-color: black;
    color: white;

}

/* <!-- slide one image --> */

section#slider-1{
    background: rgb(218, 218, 218);
    
}

/* #top-m1{
    margin-top: -50px;
    background-color: white;
    z-index: 1;
} */

#one-img-slider{
    padding-bottom: 25px;
    background-color: white;
    }

#one-img-slider h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

#gravida{
    font-size: 18px;
    font-weight: bold;
}

#one-img-slider p{
    text-align: justify;
}

#font {
    text-align: right;
}

#font span{
    margin-left: 15px;
   }

.gray-p p{
    font-size: 15px;
    color: gray;
    margin-bottom: 30px;
}

/* about center text */

#about-center-text{
    margin-top: 30px;
}

#who-we-are-about{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

#who-we-are-about img{
    border-radius: 50%;
    margin-bottom: 30px;
    border: 7px solid rgb(207, 200, 200);
}

#who-we-are-about img:hover{
    border: 7px solid #f9cb1e;
}

#who-we-are-about i{
    margin-left: 20px;
}

/* about-four-div */

#about-four-div {
   
    justify-content: space-between;
}

.four-bg{
    background-color: white;
    padding-top: 10px;
    /* width: auto; */
    /* margin-right:2px; */
}

/* what we do about */
#what-we-do-about{
    background-color: white;
    padding: 50px 0;
}

#testimonial-about{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px;
}

.testimonial-about-content{
    padding: 40px 10px;
    text-align: center;
    background-color: #f9cb1e;
    color: black;
}

.testimonial-about-content p{
    font-size: 14px;
    margin-bottom: 0;
}

.testimonial-about-content h6{
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    margin-bottom: 34px;
}

.about-last-right-div-text h3{
    font-size: 22px;
}

.about-last-right-div-text p{
    font-size: 14px;
    color: gray;
    padding-top: 20px;
}

.about-last-right-div-text div{
    color: black;
    text-align: right;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 0;
    margin-bottom: 30px;
}

.about-last-right-div-text div p{
    padding: 10;
    margin: 0;
    color: black;
}

    /* Our tour _____________section__*/

.ourTour{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#ourTourSection{
    margin-top: 600px;
    margin-bottom: 50px;
}


.tour-img img{
    background-position: center ;
    width: 100%;
    padding: 0;
    margin: 0;
}
.tour-div-text-left{
    float: left;
    width: 50%;
    padding: 15px 20px;
    background-color: white;
    border-right: 1px solid gray;
    box-sizing: border-box;
}

.tour-div-text-right{
    overflow: hidden;
    float: left;
    width: 50%;
    font-size: 16px;
    padding: 23px 20px;
    color: rgb(100, 104, 106);
    background-color: white;
}

.duration-tour{
    float: left;
    width: 70%;
    color: white;
    background-color: #1CA7C8;
    padding: 15px 0 10px 25px;

}

.duration-price{
    float: right;
    width: 30%;
    font-weight: bold;
    color: white;
    padding: 15px 0 10px 0px;
    background-color: #1687A6;
    display: block;
    text-align: center;
    
}

.duration-price:hover{
    cursor: pointer;
    background-color: #5cd8f7;
}

/* OUR TOUR LAST FOUR DIVS */
#div-tour-last{
    
}

.border-div{
    border: 1px solid lightgrey;
}
.book-now{
    padding: 15px 20px;
    color: white;
    text-align: center;
    background-color: #8C8C8C;
    
}

#div-tour-last p{
    font-size: 14px;
}

.book-now:hover{
    background-color: #f9cb1e;
    cursor: pointer;
}

.book-now a{
    text-decoration: none;
    color: white;
}

#last-para p{
    margin-top: 60px;
    text-align: center;
    font-size: 14px;
}

#foot-colr{
    color: #f9cb1e;
}

#foot-colr:hover{
    color: white;
    cursor: pointer;
}
